{% extends 'layouts/base.html' %}

{% block body_block %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'account/expenses_list.css' %}" type="text/css">
    <div class="container">

            <div class="expenses-content">
                {% for aggr in day_aggregates %}
                    <div class="expenses-aggregate">
                        <div class="expenses-aggregate-date-card">
                            <div class="expenses-aggregate-date">{{ aggr.date }}</div>
                        </div>

                        {% for expense in aggr.expenses %}
                            <div class="expense-item">
                                <div>{{ expense.title }}</div>
                                <div>{{ expense.summa }} </div>
                                <div>{{ expense.place }}</div>
                            </div>
                            {% if  not forloop.last %}
                                <hr/>
                            {% endif %}

                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

    </div>
{% endblock %}