<html>
    <head>
        <title>Money Pig</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Money Pig</a></h1>
        </div>

        {% for bill in bills %}
            <div>
                <p>created: {{ bill.bill.created_date }}</p>
                <h1><a href="">{{ bill.bill.title }}</a></h1>
                <p>{{ bill.bill.summa }} руб.</p>
                {% for position in bill.positions %}
                    <p>{{ position.count }}. {{ position.name }}</p>
                    <p>Категория: {{ position.category }}</p>
                    <p>Стоимость: {{ position.summa }} руб.</p>
                    <p>Количество: {{ position.amount }}
                        {% if position.measure == 'p'%}
                            шт.
                        {% elif position.measure == 'g' %}
                            гр.
                        {% endif %}
                    </p>
                {% endfor %}
            </div>
        {% endfor %}
    </body>
</html>