{% extends 'layouts/base.html' %}

{% block body_block %}
<script>
    window.onload = function () {
        var xhr = new XMLHttpRequest();

        xhr.open('GET', '/api/month/categories', false);

        xhr.send();

        if (xhr.status != 200) {
            console.log( xhr.status + ': ' + xhr.statusText );
        } else {
            // var chart = new CanvasJS.Chart("chartContainer", {
            //     animationEnabled: true,
            //     title:{
            //         text: "Email Categories",
            //         horizontalAlign: "left"
            //     },
            //     data: [{
            //         type: "doughnut",
            //         startAngle: 60,
            //         //innerRadius: 60,
            //         indexLabelFontSize: 17,
            //         indexLabel: "{label} - #percent%",
            //         toolTipContent: "<b>{label}:</b> {y} (#percent%)",
            //         dataPoints: JSON.parse( xhr.responseText)
            //     }]
            // });
            // chart.render();
        }
    }
    </script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'account/expenses_list.css' %}" type="text/css">
    <div class="container">
        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    </div>
{% endblock %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MoneyPig</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico'%}">

</head>
<body>
    {% block navbar %}
        {% include 'includes/personal_navbar.html' %}
    {% endblock %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'account/expenses_list.css' %}" type="text/css">
    <div class="container">
        
    </div>
</body>
</html> -->